---
import Layout from "@layouts/Layout.astro";
import Header from "@layouts/Header.astro";
import Footer from "@layouts/Footer.astro";
import Social from "@components/Social.astro";
import data from "@content/discography/discography.json";

export async function getStaticPaths() {
	return data.filter((data) => data.type === "original").map((data) => {
		return {
			params: {albumURL: data.link},
			props: {albumData: data},
		}
	})
}

const { albumURL } = Astro.params;
const { albumData } = Astro.props;
const pageTitle = "discograpy";
---

<Layout title = {pageTitle + " - "}>
	<Header location={pageTitle}></Header>
	<article>
		<h3>{pageTitle}</h3>
		<section>
			<img src={"/img/" + albumData.jacket}>
			<h5>{albumData.heading}</h5>
			<h4>{albumData.title}</h4>
			<div>{albumData.id} {albumData.date.replace(/-/g, ".")}</div>
			<Social links={albumData.social}></Social>
			<ol class="tracks">
				{
					albumData.tracks.map((tracks) => (
						<li class={(tracks.bonus === true) && "bonus"}>{tracks.title}</li>
					))
				}
			</ol>
		<section>
	</article>
	<Footer></Footer>
</Layout>

<style is:global>
	@charset "utf-8";

	img {
		display: block;
		box-sizing: border-box;
		margin: 0 0 16px 16px;
		width: 50%;
		max-width: 600px;
		height: auto;
		float: right;
		border: solid 1px #c0c0c0;
	}

	h4 {
		margin:.2em 0;
		font-size: 40px;
		font-weight: bold;
	}

	h5 {
		margin: 0;
		font-size: 20px;
		font-weight: normal;
	}

	div {
		font-size: 16px;
	}

	ol.discs {
		width: 50%;
		padding: 0;
		list-style: none;
	}

	ol.discs > li{
		margin-bottom: 1em;
	}

	ol.tracks {
		box-sizing: border-box;
		padding: 0 0 0 2em;
		width: calc(50% - 16px);
		list-style-position: outside;
	}

	ol.discs ol.tracks {
		float: none;
		width: auto;
	}

	.bonus:after {
		content: " (Bonus Track)";
		font-size: .8em;
	}

	/*responsive*/

	@media (max-width: 770px) {
		img {
			position: relative;
			margin: 0 0 30px 0;
			width: 100%;
			float: none;
		}

		ol.discs, ol.tracks {
			width: auto;
			float: none;
		}
	}
</style>